.login{
    display: flex;
    justify-content: center;
    margin-top: 30px;
   
}

.login__form{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    background-color: #1D1E22;
    font-family: sans-serif;
    display: flex;
    width: 300px;
    height: 350px;
    border-radius: 100px 10px 100px 100px;
    background-image: linear-gradient(
        to right,
        rgba(254, 254, 254, 0.3),
        rgba(255, 255, 255, 0.3)
      ),
      url("../../img/formBack.jpg");
      background-size:cover;
      background-repeat: no-repeat;
      box-shadow: 0 0 10px 0 #3498db inset, 0 0 100px 4px rgb(52, 152, 219, 0.5);
}

.login__input__block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.login__button{
    width: 110px;
    height: 30px;
    border: 2px solid #3498db;
    transition: all 550ms ease-in-out;
    border-radius: 5px;
    color: #3498db;
    font-size: 20px;
    box-shadow: inset 2px 3px 7px rgb(52, 152, 219, 0.5), inset -3px -3px 7px rgb(52, 152, 219, 0.5);
}


.login__button:hover,
.login__button:focus {
  box-shadow: inset 6.5em 0 0 0 rgb(52, 152, 219, 0.5);
  color: aliceblue;
}

.login__input{
    background: none;
    border-radius: 10px 10px 10px 10px;
     color:#055081;
     padding-left: 10px;
     outline: 2px solid #3498db;
     -webkit-transition: all 350ms ease-in-out;
     transition: all 350ms ease-in-out;
     height: 30px;

}

.login__input:hover,
.login__input:focus,
.login__input:active{
    box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
    outline: none;
}

input{
    border: none;
}
 
