.container{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.animate_charcter
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #4b31aa 0%,
    #44107a 29%,
    #901689 67%,
    #ff0095 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 7s linear infinite;
  display: inline-block;
      font-size: 100px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}