

  .filter{
    display: flex;
    justify-content: center;
  }

  .filter__input{
    background: none;
    border-radius: 10px 10px 10px 10px;
     padding-left: 10px;
     outline: 2px solid #f4f7f9;
     -webkit-transition: all 350ms ease-in-out;
     transition: all 350ms ease-in-out;
     height: 30px;
     color: rgb(255, 255, 255);
    

}

.filter__input:hover,
.filter__input:focus,
.filter__input:active{
    box-shadow: 0 0 10px 0 #ffffff inset, 0 0 10px 4px #fdfdfd;
    outline: none;
    background-color: none;
   
}

input{
    border: none;
}
 
