.contacts__list {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    align-items: baseline;
}

.contacts__button {
    margin-left: 10px;
}

.contact__button {
    width: 70px;
    height: 20px;
    margin-left: 30px;
    border-radius: 10px;
    border: none;

    font-size: 12px;
    background-color: rgb(102, 175, 239);
}

.contacts__items{
    display: flex;
    justify-content: flex-end;
}

.contact__button:hover
    {
        background-color: blueviolet;
    }