.book{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
   
    
}

.book__tect{
    padding: 10px 20px;
    border-radius: 110px 110px 50px 50px ;
    background-color: rgb(128, 43, 203);
    font-family: 'Montserrat', sans-serif;
    font-size: larger;
    font-weight: 700px;
    color: aliceblue;
}

.book__button{
    width: 110px;
    height: 30px;
    border: 2px solid #3498db;
    transition: all 550ms ease-in-out;
    border-radius: 5px;
    color: #3498db;
    font-size: 20px;
    box-shadow: inset 2px 3px 7px rgb(52, 152, 219, 0.5), inset -3px -3px 7px rgb(52, 152, 219, 0.5);
}


.book__button:hover,
.book__button:focus {
  box-shadow: inset 6.5em 0 0 0 rgb(52, 152, 219, 0.5);
  color: aliceblue;
}



.third {
    
    box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
    -webkit-transition: all 350ms ease-in-out;
    transition: all 350ms ease-in-out;
  }
  .third:hover, .third:focus,
  .third:active {
    box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
  }

  .third-on{
    box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
  }

  .header_nav__items{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background-color: transparent;
    width: 100px;
    height: 30px;
    justify-content: center;

   
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
    font-size: 16px;
    font-weight: 400;
   
    
   
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
  

    -webkit-transition: all 550ms ease-in-out;
    transition: all 550ms ease-in-out;
}

.login{
 
    border-radius: 170px 10px 170px 10px;
}

.registr{
    border-radius: 10px 170px 10px 170px;
}


.header_nav__text{
    color: beige;
}
