.contacts{
    display: flex;
    justify-content: center;

}

.contacts__list {
  display: flex;
  width: 760px;
  margin-top: 20px;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  align-items: center;

}


.contacts__button {
    margin-left: 10px;
}

.contact__button {
    width: 70px;
    height: 20px;
    border: none;
    transition: all 550ms ease-in-out;
    border-radius: 30px;
    color: #3498db;
    font-size: 16px;
    background-color: rgb(215, 220, 255);
   
}

.contact__button:hover,
.contact__button:focus,
.contact__button:active {
    box-shadow: inset 6.5em 0 0 0 rgb(52, 152, 219, 0.5);
    color: aliceblue;
}

.contacts__items{
    justify-content: flex-end;
    display: flex;
    align-items: center;
    width: 370px;
    background-color: aliceblue;
    border-radius: 20px
}

.contacts__text{
    margin-right: 20px;
    margin-left: 20px;
}

